/* line 1, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.jumbotron-fluid {
  background-image: url(https://images.unsplash.com/photo-1422118956051-420a81c79553?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32d5ed7aa61ed60ae979a1b15656588f&auto=format&fit=crop&w=967&q=80);
  height: 400px;
}
/* line 3, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.jumbotron-fluid h1 {
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 2px 3px #555;
}
/* line 9, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.jumbotron-fluid h2 {
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 2px 3px #555;
}

/* line 17, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.jumbotron-index {
  height: 200px;
  background-color: #2ACCA5;
}

/* line 22, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.page-footer {
  background-color: #11182A;
  color: #fff;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* line 31, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
body {
  background-color: #f9fdfa;
}

/* line 35, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.navbar {
  height: 70px;
}

/* line 39, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
nav ul li {
  list-style-type: none;
  padding: 5px;
  color: #ffffff;
}

/* line 45, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
nav a {
  font-size: 16px;
  color: #ffffff !important;
}

/* line 50, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.navbar-brand {
  font-size: 30px;
  font-weight: bold;
}

/* line 55, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.form-inline {
  padding-top: 15px;
}

/* line 60, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.table-hover tbody tr:hover {
  background-color: #dbf5de;
}

/* line 64, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.center {
  text-align: center;
}

/* line 68, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.alert-danger {
  display: inline-block;
  width: 100%;
}

/* line 73, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.btn-default {
  background-color: #11182A;
  color: #FFF;
}

/* line 79, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.card-deck {
  padding-top: 20px;
}

/* line 83, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}

/* line 90, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.jumbotron {
  background-color: #2ACCA5;
  height: 400px;
}
/* line 93, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.jumbotron h2 {
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 2px 3px #555;
}

/* line 100, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.page-footer a {
  font-size: 16px;
  color: #ffffff !important;
}

/* line 105, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 110, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.row-content {
  margin: 0px auto;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px ridge;
}

/* line 116, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.row-header {
  margin: 0px auto;
  padding: 25px 0px 25px 0px;
  border-bottom: 1px ridge;
}

/* line 122, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.row-reviews {
  padding: 25px 0px 25px 0px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

