/********* Global Styles ***********/
/* line 4, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 10, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
img, embed, object, video {
  max-width: 100%;
}

/* line 14, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 19, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
body {
  background-color: #FAFAFA;
  height: 100%;
}

/********* Typography Styles ***********/
/* line 29, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
a {
  color: #003399;
}

/* line 33, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
h2 {
  font-size: 32px;
  line-height: 40px;
  color: #282828;
  font-weight: normal;
}

/********* Structure Styles ***********/
/********* Module Styles ***********/
/* Site Navigation */
/* line 47, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.navbar-brand {
  color: #295200 !important;
  font-family: Ryman Eco;
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
}

/* line 55, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.navbar button.navbar-toggler {
  border: 1px solid #295200;
}

/* line 59, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.navbar-nav a {
  color: #295200;
  text-align: center;
  font-size: 1.1em;
}

/* line 65, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.navbar-nav a:hover, .navbar-nav a:focus {
  background: #295200;
  color: white;
  border-color: #295200;
  text-decoration: none;
}

/* line 72, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.navbar-light .navbar-nav .nav-link {
  color: #295200;
  font-size: 1.1rem;
}

/* line 77, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  background: #295200;
  color: white;
  border-color: #295200;
  text-decoration: none;
}

/* line 84, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
li.nav-item {
  list-style: none;
}

/* line 88, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.nav-item .btn-link:hover {
  color: #020401;
  text-decoration: none;
}

/********* Component Styles ***********/
/* line 95, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.pagination {
  text-align: center;
  cursor: default;
  font-size: 16px;
}

/* line 100, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em;
}

/* line 103, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.pagination .disabled {
  color: #474747;
}

/* line 106, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #1E313E;
}

/* line 111, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.pagination a {
  border: 1px solid #dddddd;
  color: #295200;
  text-decoration: none;
}

/* line 116, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.pagination a:hover, .pagination a:focus {
  border-color: #003366;
  background: #295200;
  color: white;
}

/* line 122, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#jumbotron-index {
  background-color: #E6E6E6;
  height: 40%;
  padding: 7.5% 0 7.5% 0;
  border-radius: 0;
}
/* line 127, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#jumbotron-index h2 {
  color: #295200;
  font-size: 2rem;
  line-height: 3rem;
}

/* line 135, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#jumbotron-about {
  background-color: #9F9F9D;
  height: 40%;
  padding: 7.5% 0 7.5% 0;
  border-radius: 0;
}
/* line 140, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#jumbotron-about h2 {
  font-weight: bold;
  color: #FFF;
  text-shadow: 0px 2px 3px #555;
  font-size: 1.75rem;
}

/********* Page Styles ***********/
/* Home Page */
/* line 154, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.container-home {
  padding: 4rem 0 4rem 0;
}

/* line 158, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#jumbotron-home {
  background-color: #F0F0F0;
  height: 40%;
  padding: 5% 0 5% 0;
  border-radius: 0;
}
/* line 163, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#jumbotron-home h1 {
  font-weight: bold;
  color: #134F3C;
  text-shadow: 0px 2px 3px #555;
  font-family: Ryman Eco;
  font-size: 2em;
}
/* line 172, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#jumbotron-home h2 {
  font-weight: bold;
  color: #134F3C;
  font-size: 1em;
}

/* line 182, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
input.btn.btn-default {
  display: inline;
  border: 6px;
}

/* line 188, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#index-table {
  margin-top: 1rem;
}

/* line 196, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#index-button {
  text-align: right;
}

/* line 200, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.btn-link {
  color: #295200;
  text-decoration: none;
  font-size: 1.1em;
}

/* line 206, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.btn-default {
  background-color: #004D99;
  color: #FFF;
}

/* line 211, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.btn-primary {
  background-color: #0066CC;
  color: #FFF;
}

/* line 216, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.btn-outline-success {
  background-color: #008200;
  color: #FFF;
}

/* line 221, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.row-home-sectors {
  background-color: #F8F9FA;
}

/* line 225, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.row-home-countries {
  background-color: #F8F9FA;
}

/* line 230, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.row-home-sectors h3 {
  line-height: 1.2;
  font-weight: 500;
  font-color: dark-gray;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.5rem;
}
/* line 238, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.row-home-sectors h4 {
  font-weight: 400;
  font-color: light-gray;
  font-size: 1rem;
  line-height: 1.2;
}

/* line 248, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.row-home-countries h3 {
  line-height: 1.2;
  font-weight: 500;
  font-color: dark-gray;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.5rem;
}
/* line 256, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.row-home-countries h4 {
  font-weight: 400;
  font-color: light-gray;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1rem;
  line-height: 1.2;
}

/* line 266, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#cities, #foodandbeverages, #consumerproducts, #fashion {
  height: 200px;
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1rem;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.125);
  overflow: hidden;
  border-radius: 0.25rem;
}

/* line 277, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#unitedkingdom, #sweden, #germany, #canada {
  height: 200px;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1.5em;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.125);
  overflow: hidden;
  border-radius: 0.25rem;
}

/* line 288, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#cities span, #foodandbeverages span, #consumerproducts span, #fashion span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  line-height: 2;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .7;
}

/* line 302, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#unitedkingdom span, #sweden span, #germany span, #canada span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  line-height: 2;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .7;
}

/* line 317, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#cities:hover, #foodandbeverages:hover, #consumerproducts:hover, #fashion:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

/* line 321, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#unitedkingdom:hover, #sweden:hover, #germany:hover, #canada:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

/* line 326, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#cities {
  background: url("https://storage.googleapis.com/roundput/Sectors/Cities_resized.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 332, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#foodandbeverages {
  background: url("https://storage.googleapis.com/roundput/Sectors/Food%20and%20Beverages_resized.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 338, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#consumerproducts {
  background: url("https://storage.googleapis.com/roundput/Sectors/Consumer%20Products_resized.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 344, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#fashion {
  background: url("https://storage.googleapis.com/roundput/Sectors/Fashion_resized.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 350, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#unitedkingdom {
  background: url("https://storage.googleapis.com/roundput/Cities/United%20Kingdom_resized.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 356, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#sweden {
  background: url("https://storage.googleapis.com/roundput/Cities/Sweden_resized.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 362, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#germany {
  background: url("https://storage.googleapis.com/roundput/Cities/Germany_resized.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 368, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#canada {
  background: url("https://storage.googleapis.com/roundput/Cities/Canada_resized.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 375, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.row-sectors h3 {
  line-height: 1.2;
  font-weight: 500;
  font-color: dark-gray;
  font-size: 1.5rem;
  margin-top: 2rem;
}
/* line 382, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.row-sectors h4 {
  font-weight: 400;
  font-color: light-gray;
  font-size: 1rem;
  line-height: 1.2;
}

/* line 391, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.row-countries h3 {
  line-height: 1.2;
  font-weight: 500;
  font-color: dark-gray;
  font-size: 1.5rem;
  margin-top: 1rem;
}
/* line 398, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.row-countries h4 {
  font-weight: 400;
  font-color: light-gray;
  font-size: 1rem;
  line-height: 1.2;
}

/* line 406, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.container-footer-home {
  margin-top: 2rem;
}

/* line 410, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
input[type="checkbox"] {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  float: left;
}

/* line 418, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.page-footer {
  background-color: #FAFAFA;
  color: #dark gray;
}

/* line 423, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#newsletter {
  display: flex;
}

/* line 427, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#jumbotron-search {
  display: flex;
  width: 100%;
}

/* line 432, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#jumbotron-newsletter {
  border-radius: 0;
}

/* line 436, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.btn-success {
  margin-left: 5px;
}

/* line 440, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
body .form-inline {
  text-align: center;
}

/* line 444, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
iframe {
  overflow: hidden;
}

/* line 448, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.frame-header {
  background-color: rgba(241, 238, 234, 0.2);
  border-bottom: 1px solid #F1EEEA;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  color: #3D3D66;
}

/* line 457, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.rounded-content-frame_footer {
  color: #282828;
}

/* line 461, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.rounded-content-frame_footer {
  background-color: rgba(241, 238, 234, 0.2);
  border-top: 1px solid #F1EEEA;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  color: #3D3D66;
}

/* line 470, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.table-hover tbody tr:hover {
  background-color: #e3e3e3;
}

/* line 474, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.center {
  text-align: center;
}

/* line 478, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.alert-danger {
  display: inline-block;
  width: 100%;
}

/* line 483, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.rounded-content-frame--white {
  background-color: #FFFFFF;
  border-color: #F1EEEA;
}

/* line 488, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.rounded-content-frame {
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}

/* line 494, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.rounded-content-frame .title {
  font-weight: normal;
  margin-bottom: 30px;
}

/* line 498, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.rounded-content-frame_content {
  padding: 20px;
}

/* line 503, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#jumbotron-about {
  background-color: #3F882E;
  height: 250px;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}
/* line 509, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#jumbotron-about h1 {
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 2px 3px #555;
  padding-top: 35px;
  padding-bottom: 35px;
}

/* line 518, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#container-about {
  padding-top: 55px;
  padding-bottom: 20px;
  background-color: #FAFAFA;
  font-size: 1.1rem;
  line-height: 1.1;
  font-weight: 400;
}

/* line 527, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#row-contact-us {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 530, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#row-contact-us h1 {
  text-align: center;
  font-weight: 420;
  line-height: 1.2;
  font-size: 1.5rem;
  color: #474747;
}

/* line 539, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#new-review {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 542, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#new-review h1 {
  text-align: center;
  font-weight: 420;
  line-height: 1.2;
  font-size: 1.5rem;
  color: gray;
}

/* line 551, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#edit-review {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 554, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#edit-review h1 {
  text-align: center;
  font-weight: 420;
  line-height: 1.2;
  font-size: 1.5rem;
  color: gray;
}

/* line 563, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#new-circular-initiative {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 566, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#new-circular-initiative h1 {
  text-align: center;
  font-weight: 420;
  line-height: 1.2;
  font-size: 1.5rem;
  color: gray;
}

/* line 575, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#edit-circular-initiative {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 578, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#edit-circular-initiative h1 {
  text-align: center;
  font-weight: 420;
  line-height: 1.2;
  font-size: 1.5rem;
  color: gray;
}

/* line 587, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.page-footer a {
  font-size: 1rem;
  color: #295200;
}

/* line 593, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.row-content {
  margin: 0px auto;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px ridge;
}

/* line 599, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.row-header {
  margin: 0px auto;
  padding: 25px 0px 25px 0px;
  border-bottom: 1px ridge;
}

/* line 605, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.row-reviews {
  padding: 25px 0px 25px 0px;
  margin: 0px auto;
  border-botton: 1px;
}

/* line 611, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#initiative-info {
  background-color: #FFFFFF;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  padding: 20px;
  margin: 15px 0 0 0;
  font-size: 16px;
  color: #18450A;
  line-height: 1.4m;
  overflow: hidden;
}
/* line 621, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#initiative-info h4 {
  color: #0A4E85;
}
/* line 624, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#initiative-info .topic {
  color: #474747;
}

/* line 630, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#basic-info {
  background-color: #FFFFFF;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  padding: 20px;
  margin: 15px 0 0 0;
  color: #18450A;
}
/* line 637, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
#basic-info h2 {
  color: #0A4E85;
  font-weight: bold;
}

/* line 646, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}

/* line 652, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* line 659, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.reviews {
  background-color: #FFFFFF;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  padding: 20px;
  margin: 30px 0px;
  font-size: 14px;
  color: #18450A;
}
/* line 667, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
.reviews h6 {
  color: #0A4E85;
}

/********* Extra Large Devices Only ***********/
@media (min-width: 1199px) {
  /* line 676, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 679, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-1 {
    width: 8.33%;
  }

  /* line 682, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-2 {
    width: 16.66%;
  }

  /* line 685, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 688, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-4 {
    width: 33%;
  }

  /* line 691, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-5 {
    width: 41.66%;
  }

  /* line 694, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 697, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-7 {
    width: 58.33%;
  }

  /* line 700, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-8 {
    width: 66.66%;
  }

  /* line 703, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-9 {
    width: 74.99%;
  }

  /* line 706, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-10 {
    width: 83.33%;
  }

  /* line 709, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-11 {
    width: 91.66%;
  }

  /* line 712, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 717, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  #jumbotron-home {
    background-color: #C7C7C7;
    height: 40%;
    padding: 3.5% 0 3.5% 0;
    border-radius: 0;
  }
  /* line 723, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  #jumbotron-home h1 {
    font-weight: bold;
    color: #0F3E30;
    text-shadow: 0px 2px 3px #555;
    font-family: Ryman Eco;
    font-size: 3em;
  }
  /* line 732, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  #jumbotron-home h2 {
    font-weight: bold;
    color: #0F3E30;
    font-size: 1.5em;
  }
}
/********* Large Devices Only ***********/
@media (min-width: 991px) and (max-width: 1199px) {
  /* line 746, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 749, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-1 {
    width: 8.33%;
  }

  /* line 752, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-2 {
    width: 16.66%;
  }

  /* line 755, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 758, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-4 {
    width: 33%;
  }

  /* line 761, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-5 {
    width: 41.66%;
  }

  /* line 764, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 767, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-7 {
    width: 58.33%;
  }

  /* line 770, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-8 {
    width: 66.66%;
  }

  /* line 773, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-9 {
    width: 74.99%;
  }

  /* line 776, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-10 {
    width: 83.33%;
  }

  /* line 779, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-11 {
    width: 91.66%;
  }

  /* line 782, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 787, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  #jumbotron-home {
    background-color: #F0F0F0;
    height: 40%;
    padding: 5% 0 5% 0;
    border-radius: 0;
  }
  /* line 793, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  #jumbotron-home h1 {
    font-weight: bold;
    color: #134F3C;
    text-shadow: 0px 2px 3px #555;
    font-family: Ryman Eco;
    font-size: 3em;
  }
  /* line 802, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  #jumbotron-home h2 {
    font-weight: bold;
    color: #134F3C;
    font-size: 1.5em;
  }
}
/********* Medium Devices Only ***********/
@media (min-width: 768px) and (max-width: 991px) {
  /* line 818, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 821, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-md-1 {
    width: 8.33%;
  }

  /* line 824, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-md-2 {
    width: 16.66%;
  }

  /* line 827, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 830, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-md-4 {
    width: 33%;
  }

  /* line 833, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-md-5 {
    width: 41.66%;
  }

  /* line 836, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 839, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-md-7 {
    width: 58.33%;
  }

  /* line 842, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-md-8 {
    width: 66.66%;
  }

  /* line 845, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-md-9 {
    width: 74.99%;
  }

  /* line 848, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-md-10 {
    width: 83.33%;
  }

  /* line 851, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-md-11 {
    width: 91.66%;
  }

  /* line 854, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 859, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  #jumbotron-home {
    background-color: #F0F0F0;
    height: 40%;
    padding: 5% 0 5% 0;
    border-radius: 0;
  }
  /* line 864, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  #jumbotron-home h1 {
    font-weight: bold;
    color: #134F3C;
    text-shadow: 0px 2px 3px #555;
    font-family: Ryman Eco;
    font-size: 3em;
  }
  /* line 873, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  #jumbotron-home h2 {
    font-weight: bold;
    color: #134F3C;
    font-size: 1.5em;
  }
}
/********* Small Devices Only ***********/
@media (min-width: 576px) and (max-width: 767px) {
  /* line 886, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 889, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-sm-1 {
    width: 8.33%;
  }

  /* line 892, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-sm-2 {
    width: 16.66%;
  }

  /* line 895, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 898, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-sm-4 {
    width: 33%;
  }

  /* line 901, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-sm-5 {
    width: 41.66%;
  }

  /* line 904, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 907, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-sm-7 {
    width: 58.33%;
  }

  /* line 910, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-sm-8 {
    width: 66.66%;
  }

  /* line 913, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-sm-9 {
    width: 74.99%;
  }

  /* line 916, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-sm-10 {
    width: 83.33%;
  }

  /* line 919, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-sm-11 {
    width: 91.66%;
  }

  /* line 922, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 926, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  #jumbotron-home {
    background-color: #F0F0F0;
    height: 40%;
    padding: 5% 0 5% 0;
  }
  /* line 930, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  #jumbotron-home h1 {
    font-weight: bold;
    color: #134F3C;
    text-shadow: 0px 2px 3px #555;
    font-family: Ryman Eco;
    font-size: 3em;
  }
  /* line 939, C:/Sites/roundputfinal/app/assets/stylesheets/custom.css.scss */
  #jumbotron-home h2 {
    font-weight: bold;
    color: #134F3C;
    font-size: 1.5em;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

