<div class ="jumbotron">
	<div class = "container justify content center">
		<h2><B>Roundput is an online database of circular economy initiatives.</B><h2>
	</div>
</div>

<div class = "container center">
<p> We are always excited about and interested in products/services that protect the environment, Roundput is our way of generating awareness about such products/services. We support bringing fresh ideas to save our planet to the market.</p>

<p>We request everyone to show a little bit of concern about the state of our planet and we are doing our bit to address some of its growing pains. We hope that you will join us in this effort.</p>
<p>We believe that generating awareness about the environmental problems and solutions that already exist is equally important if not more than coming up with a unique solution to the problems.</p>
<p> Our vision is to generate awareness about circular companies and change how people think about buying linear products/services.</p>
<p> We are a small unit with a vision to spread awareness about circular initiatives around the world and accelerate the adoption of circular/sustainable initiatives. </p>
</div>
