<div id="jumbotron-about" class ="jumbotron">
	<div class ="container center">
		<h2><B>Who We Are</B></h2>
	</div>
</div>

<div id="container-about" class = "container center">
	<p> At Roundput, we are excited about innovations that promote the idea of a circular economy. </p><Br>
	<p> We are the largest online listing for circular economy innovations around the world. </p><Br>
	<p> We are a small unit with a big vision to spread awareness about circular economy innovations around the world and accelerate their adoption. </p><Br>
	<p> We believe that generating awareness about the environmental problems and making solutions that already exist accessible to all is important. We are doing our bit to make that possible and we hope that you will join us in this effort. </p>	<Br>
</div>

