<p> Are you tired of products/services that are constantly harming our environment and wish you could know more about companies that are going circular by building products/services that not only protect our environment and planet but also bring fresh ideas to market? </p>
<p><B>Roundput is an online database of such companies!</B></p>
<p>We are concerned about the state of our planet and doing our bit to address some of its growing pains. We hope that you will join us in this effort.</p>
<p>We believe that generating awareness about the environmental problems and solutions that already exist is equally important if not more than coming up with a unique solution to a problem.</p>
<p> Our vision is to generate awareness about circular companies and change how people think about buying linear products/services.</p>
<p> We are a small unit with a vision to spread awareness about circular initiatives around the world and accelerate the adoption of circular/sustainable initiatives. </p>
<Br>
<Br>
<Br>
<Br>
<Br>
<Br>
<Br>
<Br>
<Br>
<Br>
<Br>
<Br>
<Br>
<Br>
<Br>
<Br>
<Br>
<Br>
