<h1>Editing Circular Initiative</h1>

<%= render 'form', circular_initiative: @circular_initiative %>

<%= link_to 'Show', @circular_initiative, class: "btn btn-link" %> |
<%= link_to 'Back', circular_initiatives_path, class: "btn btn-link"  %>
