<div class="jumbotron-home">
  <div class="jumbotron-home-text">
    <h1> Roundput </h1>
    <h2> Find, review and learn more about circular economy innovations in your city </h2>
  </div>
 
  <div class="form-inline justify-content-center">
    <%= form_tag circular_initiatives_path, method: :get do %>
      <%= text_field_tag :search, params[:search], size:60, placeholder:'Search for organizations or innovations...', class: "form-control" %>
      <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
    <% end %>
  </div>
</div>


<div class="container">
  <div class="row row-home-sectors">
    <div class="col-12 sectors">
      <h3> Popular Sectors </h3>
      <h4> Discover organizations or innovations by popular sectors </h4>


      <div class="card-deck">
        <a href="/circular_initiatives?utf8=✓&Region=&Country=&Organization_type=&sector_id=1">
          <div class="card" style="width:15rem;">
            <img class="card-img-top" src="https://s3.ap-south-1.amazonaws.com/roundputfinal/Homepage/Cities.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cities</h5>
            </div>
          </div>
        </a>

        <a href="/circular_initiatives?utf8=✓&Region=&Country=&Organization_type=&sector_id=4">
          <div class="card" style="width:15rem;">
            <img class="card-img-top" src="https://s3.ap-south-1.amazonaws.com/roundputfinal/Homepage/Food+and+Beverages.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Food and Beverages</h5>
            </div>
          </div>
        </a>
      
        <a href="/circular_initiatives?utf8=✓&Region=&Country=&Organization_type=&sector_id=2"> 
          <div class="card" style="width:15rem;">
            <img class="card-img-top" src="https://s3.ap-south-1.amazonaws.com/roundputfinal/Homepage/Consumer+Products+and+Electronics.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Consumer Products</h5>
            </div>
          </div>
        </a>

        <a href="/circular_initiatives?utf8=✓&Region=&Country=&Organization_type=&sector_id=3">
          <div class="card" style="width:15rem;">
            <img class="card-img-top" src="https://s3.ap-south-1.amazonaws.com/roundputfinal/Homepage/Fashion.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Fashion</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>


  <div class="row row-home-countries">
    <div class="col-12 countries">
      <h3> Leading countries </h3>
      <h4> Discover organizations or innovations by leading countries </h4>

      <div class ="card-deck">
        <a href="/circular_initiatives?utf8=%E2%9C%93&Region=&Country=United+Kingdom+of+Great+Britain+and+Northern+Ireland&Organization_type=&sector_id=">
          <div class="card" style="width:15rem;">
            <img class="card-img-top" src="https://s3.ap-south-1.amazonaws.com/roundputfinal/Homepage/United+Kingdom.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">United Kingdom</h5>
            </div>
          </div>
        </a>

        <a href="/circular_initiatives?utf8=%E2%9C%93&Region=&Country=Sweden&Organization_type=&sector_id=">
          <div class="card" style="width:15rem;">
            <img class="card-img-top" src="https://s3.ap-south-1.amazonaws.com/roundputfinal/Homepage/Sweden.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Sweden</h5>
            </div>
          </div>
        </a>
    
        <a href="/circular_initiatives?utf8=%E2%9C%93&Region=&Country=Germany&Organization_type=&sector_id="> 
          <div class="card" style="width:15rem;">
            <img class="card-img-top" src="https://s3.ap-south-1.amazonaws.com/roundputfinal/Homepage/Germany.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Germany</h5>
            </div>
          </div>
        </a>

        <a href= "/circular_initiatives?utf8=%E2%9C%93&Region=&Country=Canada&Organization_type=&sector_id=">
          <div class="card" style="width:15rem;">
            <img class="card-img-top" src="https://s3.ap-south-1.amazonaws.com/roundputfinal/Homepage/Canada.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Canada</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>