<div id="new-circular-initiative" class="container">
	<h1>Please use the form below to add a new circular initiative.</h1>
	<%= render 'form', circular_initiative: @circular_initiative %>
	<%= link_to 'Back', circular_initiatives_path, class: "btn btn-link" %>
</div>
