<div id="new-review" class="container">
	<h1>Please use the form below to write a new review.</h1>
	<%= render 'form', review: @review %>
	<%= link_to 'Back', circular_initiative_path(@circular_initiative) %>
</div>
