<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<!-- Footer -->
<footer class="page-footer font-small mdb-color ">

    <!-- Footer Links -->
    <div class="container container-footer-home">


      <!-- Footer links -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-12 col-sm-12 col-lg-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Roundput</h6>
          <p>Find, review and learn more about circular economy innovations in your city.</p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-12 col-sm-12 col-lg-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Company</h6>
          <p>
            <a href="/pages/about">About Us</a>
          </p>
          <p>
            <a href="#!">Partners</a>
          </p>
          <p>
            <a href="/pages/contact">Contact Us</a>
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-12 col-sm-12 col-lg-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p>
            <a href="#!">Blog</a>
          </p>
          <p>
            <a href="#!">Terms of Reference</a>
          </p>
          <p>
            <a href="/pages/privacy">Privacy Policy</a>
          </p>
        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-12 col-sm-12 col-lg-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>

          <p>
            <i class="fa fa-envelope mr-3"></i> info@roundput.com</p>


        </div>
        <!-- Grid column -->


      <!-- Footer links -->

      <hr>

      <!-- Grid row -->
    </div>
      
        <!-- Grid column -->
    

          <!--Copyright-->
          <p class="text">© 2018 Copyright:
            <%= link_to "Roundput", root_path %>
          </p>

    
        <!-- Grid column -->

        <!-- Grid column -->

        </div>
        <!-- Grid column -->

      
      <!-- Grid row -->
  
    <!-- Footer Links -->

  </footer>
  <!-- Footer -->